@import "../../../../scss/config";

.flexRow {
  position: fixed;
  left: 50vw;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $value-color;
  flex: 1 1 auto;
}

label {
  white-space: nowrap;
}
