<div class="fullSpace flexRow">
  <div class="valueBackground">
<!--    <div>TickCount: {{gameState.tickCount}}</div>-->
<!--    <div>GameState: {{gameStateJSON}}</div>-->
  <app-twitter-box id="twitterBox" userName="Deutschland" text="Dies ist ein zufälliger Test-Tweet, der während eines Spiels erscheinen könnte"></app-twitter-box>
  </div>
  <div class="flexColumn">
    <div>
      <app-country country="germany"></app-country>
    </div>
    <div class="actionBackground">
      <app-action-space></app-action-space>
    </div>
  </div>
</div>
