.valueBackground { grid-area: value; }
.countryBackground { grid-area: country; }
.actionBackground { grid-area: actions; }

.grid-container {
  display: grid;
  grid-template-areas:
    'value country'
    'value actions';
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;
}