.flexRow div {
  width: 50%;
  height: 100%;
}

.flexColumn div {
  width: 100%;
  height: 50%;
}
.valueBackground .flexRow.twitter {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
