<div class="fullSpace flexRow">
  <div class="valueBackground">
    <app-value-table [gameState]="gameState$ | async"></app-value-table>
    <div class="flexRow twitter">
      <app-image [name]="'twitter'"></app-image>
      <app-twitter-box userName="Deutschland" [eventId]="eventId$ | async"></app-twitter-box>
    </div>
  </div>
  <div class="flexColumn">
    <div>
      <app-country country="germany" [gameState]="gameState$ | async"></app-country>
    </div>
    <div class="actionBackground">
      <app-action-space (actionSelected)="onActionSelected($event)" [actions]="possibleActions$ | async"></app-action-space>
    </div>
  </div>
</div>
