@import "../../../../scss/config";

.container {
  width: 98%;
  height: 98%;
  margin: 1%;
  display: grid;
  grid-template-rows: 60% 20% 20% ;
  align-content: center;
  vertical-align: middle;
}

label {
  color: $text-color;
<<<<<<< Updated upstream
  font-size: 1.5vw;
=======
  text-align: center;
  font-size: 3vh;
  margin: 1%;
  width: 98%;
  height: 98%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
>>>>>>> Stashed changes
}

.inverted label {
  margin: 1%;
  width: 98%;
  height: 98%;
  font-size: 1.5vw;
  color: $value-color;
}
<<<<<<< Updated upstream

.propertyValue label {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  width: auto;
}

.propertyName label {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  width: auto;
}

.propertyIcon img {
  height: auto;
  width: $font-size;
  //margin-left: 10px;
  //margin-right: 15px;
}

.propertyValue {
  display: inline-block;
}

.propertyName {
  display: inline-block;
}

.propertyIcon {
  display: inline-block;
}
=======
>>>>>>> Stashed changes
