@import "../../../../scss/config";

label{
    color: $text-color;
    font-size: $font-size;
}

.propertyValue label{
    margin-left: 10px;
    margin-right: 10px;
    display:block;
    width:auto;
}

.propertyName label{
    margin-left: 10px;
    margin-right: 10px;
    display:block;
    width:auto;
}

.propertyIcon img{
    height: auto;
    width: $font-size;
    margin-left: 10px;
    margin-right: 15px;
}

.propertyValue{
    display:inline-block;
}

.propertyName {
    display:inline-block;
}

.propertyIcon{
    display:inline-block;
}
