@import "../../../../scss/config";

.container {
  margin: 1%;
  width: 98%;
  height:98%;
  border-radius: 5px;
  background-color: white;
  color: $value-color;
  display: grid;
  grid-template-columns: 33% 16% 16% 16% 16%;
  align-content: center;
  label {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-size: 2vw;
  }
  app-image {
    height: 100%;
    width: 100%;
  }
}

