app-population-bar, app-responsibilites, app-research-state, app-twitter-box {
  margin: 1%;
  width: 98%;
}

.flexRow.twitter {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
