app-population-bar, app-responsibilites, app-research-state, app-twitter-box {
  margin: 1%;
  width: 98%;
}

.flexRow.twitter {
  margin: 1%;
  width: 99%;
  justify-content: space-around;
  align-items: flex-end;
}
