@import "../../../../scss/config";

.flexCenter{
  background-color: $value-color;
}

.startWindow{
  position: absolute;
  left: 10%;
  top: 20%;
  width: auto;
}

#startImg{
  position: absolute;
  height: 70%;
  bottom: 0;
  right: 0;
}

#mainTitle{
  margin: auto;
  color: $text-color;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Montserrat', serif;
}

.actionList {
  margin-top: 35px;
  width: auto;
  border: none;
  background-color: $text-color;
  border-radius: 5px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;

    label {
      color: $value-color;
      font-size: 20px;
      padding: 5px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
