<div class="bar">
  <div class="infected" [style.width.%]="calcPercentage(infected)"></div>
  <div class="death" [style.width.%]="calcPercentage(deaths)"></div>
  <div class="healed" [style.width.%]="calcPercentage(healed)"></div>
  <div class="health" [style.width.%]="calcPercentage(population - infected - deaths -healed)"></div>
</div>
<div class="flexSpaceBetween">
  <app-status-value name="Infizierte" [value]="infected" icon="infections"></app-status-value>
  <app-status-value name="Zufriedenheit" [value]="deaths" icon="death"></app-status-value>
  <app-status-value name="Geheilt" [value]="healed" icon="healed"></app-status-value>
  <app-status-value name="Gesunde" [value]="population - infected - deaths -healed" icon="death"></app-status-value>
</div>
