:host {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

h2 {
  margin: 0;
}

.headline {
  display: flex;
  flex-direction: row;
  height: 20%;
  img {
    height: 30px;
  }
}

app-action-bar, app-action-catalog {
  height: 80%;
}
