.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
}

.headline {
  height: 98%;
  width: 98%;
  margin: 1%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  h2{
    width: auto;
    height: 98%;
    font-size: 3vw;
    margin: 1%;
  }
  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}
.menu{
  height: 100%;
  width: 100%;
}