<div class="fullSpace flexCenter">
    <img id="startImg" src="../../../../assets/Start_Illu.svg"/>
    <div class="startWindow">
      <label id="mainTitle">Dein Score: {{score}}</label>
      <div class="stats">
        <div class="column">
            <app-end-site-value imageSrc="../../../../assets/Death.svg" score="{{deaths}}"></app-end-site-value>
            <app-end-site-value imageSrc="../../../../assets/Infections.svg" score="{{infections}}"></app-end-site-value>
            <app-end-site-value imageSrc="../../../../assets/Healed.svg" score="{{healed}}"></app-end-site-value>
            <app-end-site-value imageSrc="../../../../assets/State_Capital.svg" score="{{stateCapital}}"></app-end-site-value>
          </div>
          <div class="column">
            <app-end-site-value imageSrc="../../../../assets/Research.svg" score="{{research}}"></app-end-site-value>
            <app-end-site-value imageSrc="../../../../assets/Happiness.svg" score="{{happiness}}"></app-end-site-value>
            <app-end-site-value imageSrc="../../../../assets/Acceptance.svg" score="{{acceptance}}"></app-end-site-value>
          </div>
          <div class="actionList">
            <a routerLink="/game"><label>Wiederholen</label></a>
          </div>
      </div>
    </div>
  </div>
  