<div class="fullSpace flexCenter">
    <img id="startImg" src="../../../../assets/Start_Illu.svg"/>
    <div class="startWindow">
      <label id="mainTitle">Dein Score: {{score}}</label>
      <div class="stats">
        <div class="column">
            <app-end-site-value [image]="'death'" score="{{deaths}}"></app-end-site-value>
            <app-end-site-value [image]="'infections'" score="{{infections}}"></app-end-site-value>
            <app-end-site-value [image]="'healed'" score="{{healed}}"></app-end-site-value>
            <app-end-site-value [image]="'State_Capital'" score="{{stateCapital}}" [postfix]="'€'"></app-end-site-value>
          </div>
          <div class="column">
            <app-end-site-value [image]="'research'" score="{{research}}" [postfix]="'%'"></app-end-site-value>
            <app-end-site-value [image]="'happiness'" score="{{happiness}}" [postfix]="'%'"></app-end-site-value>
            <app-end-site-value [image]="'acceptance'" score="{{acceptance}}" [postfix]="'%'"></app-end-site-value>
          </div>
          <div class="actionList">
            <a routerLink="/game"><label>Wiederholen</label></a>
          </div>
      </div>
    </div>
  </div>
