:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 90%;
  min-width: 20px;
}

app-time, app-policy-list {
  align-self: start;
}

app-time {
  width: 20%;
}

app-policy-list {
  width: 10%;
}
