.catalog-action-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 35%;
}

.catalog-action-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    display: none;
}

.catalog-action-text{
  display: flex;
  flex: 1;
  align-items: center;
}

.actionGroup-container-0{
  display: flex;
}

.catalog-bottom-navigation {
  text-align:center;
}



