:host {
  flex: 1 1 auto;
  padding: 10px;
  height: calc(100% - 20px);
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img {
  height: 80%;
}

h3 {
  height: 10%;
  text-align: center;
  margin: 0;
}
